{% extends "main/base.html" %}
{% block content %}

<div class="cov">
    <h1>Contact us</h1>

    <p>We're excited to provide you with the essential contact information you need to get in touch with Key Club members and leaders. Whether you have a question, want to collaborate, or simply need some assistance, feel free to reach out to us using the contact details below</p>

    <ul>
        <li><b>Phone:</b></li>

        <li><b>Mail:</b></li>

        <li><b>Social Media:</b>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
        </li>


  

    </ul>

    <p>Feel free to contact us with any questions, suggestions, or feedback. We're here to assist you in making the most of your Key Club experience. Connect with us today, and let's work together to make a positive impact in our communities!

    Please note that our office hours are Monday to Friday, from 9:00 AM to 5:00 PM (EST). We will do our best to respond to your inquiries within 24-48 hours.

    Thank you for your interest in Key Club, and we look forward to hearing from you soon!</p>

</div>

{% endblock content %}

