{% extends "main/base.html" %}
{% block content %}
<div class="cov"><h1>Stay Informed: News and Events at Key Club!</h1>
    <p>Welcome to the News and Events section of Key Club, your source for the latest updates, announcements, and happenings within our vibrant community. Stay connected, informed, and inspired as we share stories of impact, upcoming events, and exciting opportunities that await you as a Key Club member. Check this page regularly to stay up to date with the pulse of Key Club!</p>

    <h2>Latest News</h2>
    <p>Stay informed about the latest news and developments within Key Club. From inspiring stories of service projects making a difference in communities to updates on district and international initiatives, this section brings you the most recent highlights from the world of Key Club. Be inspired by the incredible work of fellow Key Club members and discover new ways to make an impact.</p>

    <h2>Upcoming Events</h2>
    <p>Mark your calendars! Stay in the loop with the upcoming events, conferences, and gatherings that are essential to the Key Club experience. Whether it's a district convention, leadership training workshop, or community service opportunity, this section provides you with dates, locations, and details of events happening in your area. Be sure to register and take advantage of these valuable opportunities for learning, networking, and making a difference.</p>

</div>

{% endblock content %}