{% extends "main/base.html" %}
{% block content %}

<div class="cov">
    <table ></table>
    <h1>Meet Our Team</h1>

    <table>
        <tr>
            <td>
                <img src="">
            </td>
            <td>
                <img src="">
            </td>
            <td>
                <img src="">
            </td>
        </tr>
        <tr>
            <td>President</td>
            <td>Vice President</td>
            <td>Advisor</td>
        </tr>
        <tr>
            <td>
                <img src="">
            </td>
            <td>
                <img src="">
            </td>
            <td>
                <img src="">
            </td>
        </tr>
        <tr>
            <td>Member</td>
            <td>Membert</td>
            <td>Member</td>
        </tr>
        
    </table>
</div>
{% endblock content %}